@model IEnumerable<Library.GitAccessor.Model.Repository>

@{
    ViewData["Title"] = "GitUser";
    Layout = "~/Views/Layout.cshtml";
}

<div>
    <img src="@Model.First().Owner.AvatarUrl" class="img-thumbnail" alt="@Model.First().Owner.Login" style="height:50px; width:50px;"/>
    <a href="@Model.First().Owner.HtmlUrl"><h4>@Model.First().Owner.Login</h4></a>
</div>
<br />
<div>
    <h6>User's GitHub Repositories</h6>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    CreatedAt
                </th>
                <th>
                    DefaultBranch
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.RouteLink(@item.Name, new { controller = "GitAccessor", action = "Repository", id=item.Id })
                    </td>
                    <td>
                        @String.Format("{0:r}", item.CreatedAt)
                    </td>
                    <td>
                        @item.DefaultBranch
                    </td><td>
                        <a href="@item.HtmlUrl" target="_blank">Link to Github</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
