@model ProjectAbc.Classes.Stock.Model.Organization;
@using Newtonsoft.Json;
@using ProjectAbc.Classes.Stock.Model;
@{
    ViewData["Title"] = "Get";
    Layout = "~/Views/Layout.cshtml";
}
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<script>

    function draw_Chart(title_x_axis, chart_container, _data) {
        var data = new google.visualization.DataTable();
        data.addColumn('datetime', 'Date');
        data.addColumn('number', 'Price');

        var jsonData = [];
        for (var a = 0; a < _data.length; a++) {
            var dt = new Date(_data[a].Key);
            var val = _data[a].Value;
            jsonData.push([new Date(dt.getFullYear(), dt.getMonth(), dt.getDate(), dt.getHours(), dt.getMinutes(), dt.getSeconds()), val]);
        }
        data.addRows(jsonData);
        var options = {
            height: 240,
            title: title_x_axis,
            backgroundColor: '#f1f8e9'
        };

        var chart = new google.visualization.LineChart(document.getElementById(chart_container));
        chart.draw(data, options);
    }
</script>
<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-1">
            <img src="@Model.Logo.Url" class="img-fluid" />
        </div>
        <div class="col-sm-8">
            <h2 class="text-left"><a href="@Model.Company.Website" target="_blank">@Model.Company.CompanyName</a></h2>
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Ticker Symbol: @Model.Company.Symbol</li>
                    <li class="list-group-item">Exchange: @Model.Company.Exchange</li>
                    <li class="list-group-item">Industry: @Model.Company.Industry</li>
                    <li class="list-group-item">CEO: @Model.Company.CEO</li>
                    <li class="list-group-item">IssueType: @Model.Company.IssueType</li>
                    <li class="list-group-item">Sector: @Model.Company.Sector</li>
                    <li class="list-group-item">@Model.Company.Description</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row" id="chart_today"></div>
<br />
<div class="row" id="chart"></div>

<script>
    google.charts.load('current', { packages: ['corechart', 'line'] });
    google.charts.setOnLoadCallback(function () { draw_Chart('Stock History Price Chart', 'chart', @Html.Raw(@Model.Get_Stock_DateTime_Price((int)Organization_Stock.Stocks))); });
    google.charts.setOnLoadCallback(function () { draw_Chart('Stock Price Chart for Today', 'chart_today', @Html.Raw(@Model.Get_Stock_DateTime_Price((int)Organization_Stock.Stocks_Today))); });
</script>

<div class="container-fluid bg-grey">
    <h3>News</h3>
    <div class="row">
        <div class="list-group list-group-flush">
            @{
                foreach (var item in Model.News)
                {
                    <div class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"><a href="@item.Url" target="_blank">@item.Headline</a></h5>
                            <small>@item.Datetime.ToShortDateString() @item.Datetime.ToShortTimeString() </small>
                        </div>
                        <p class="mb-1">@item.Summary</p>
                        <small>Source: @item.Source</small>
                    </div>
                }
            }
        </div>
    </div>
</div>