@model ProjectAbc.Classes.Stock.Model.Organization;
@using Newtonsoft.Json;
@using ProjectAbc.Classes.Stock.Model;
@{
    ViewData["Title"] = "Get";
    Layout = "~/Views/Layout.cshtml";
}
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<script>

    function draw_Chart(title_x_axis, chart_container, _data) {
        var data = new google.visualization.DataTable();
        data.addColumn('datetime', 'Date');
        data.addColumn('number', 'Price');

        var jsonData = [];
        for (var a = 0; a < _data.length; a++) {
            var dt = new Date(_data[a].Key);
            var val = _data[a].Value;
            jsonData.push([new Date(dt.getFullYear(), dt.getMonth(), dt.getDate(), dt.getHours(), dt.getMinutes(), dt.getSeconds()), val]);
        }
        data.addRows(jsonData);
        var options = {
            height: 240,
            title: title_x_axis,
            backgroundColor: '#f1f8e9'
        };

        var chart = new google.visualization.LineChart(document.getElementById(chart_container));
        chart.draw(data, options);
    }

    function Ticker_Symbol() {
        var company = $("#tickersymbol").val();
        if (company.length > 0) {
            var getUrl = window.location;
            var baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1] + '/' + company;

            window.location.href = baseUrl;
        }
    }
</script>

<div class="container">
    <div class="row">
        <div class="col-sm-6">

            <form class="form-inline" action="#" onsubmit="Ticker_Symbol(); return false;">
                @*<div class="form-group mb-2">
    <label class="sr-only">Ticker Symbol</label>
    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
                </div>*@
                <div class="form-group mx-sm-3 mb-2">
                    @*<label class="sr-only">Password</label>*@
                    <input type="text" class="form-control" id="tickersymbol" placeholder="Enter Ticker Symbol">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Get Info</button>
            </form>

            @*<form action="#" onsubmit="Ticker_Symbol(); return false;">
                <div class="form-group">
                    <label for="companyname">Ticker Symbol</label>
                    <input type="text" class="form-control" id="tickersymbol" placeholder="Enter Company Ticker Symbol"><button type="submit" class="btn btn-primary d-inline-block">Get Info</button>
                    
                </div>                
            </form>*@
        </div>
        <div class="col-sm">
            Powered By: <a href="https://iextrading.com/" target="_blank" class="font-weight-bold">IEXTrading</a> and <a href="https://intrinio.com/" target="_blank" class="font-weight-bold">Intrinio</a>
        </div>
    </div>
</div>

<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-1">
            <img src="@Model.Logo.Url" class="img-fluid" />
        </div>
        <div class="col-sm-8">
            <h2 class="text-left"><a href="@Model.Company.Website" target="_blank">@Model.Company.CompanyName</a></h2>
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Ticker Symbol: @Model.Company.Symbol</li>
                    <li class="list-group-item"><a class="font-weight-bold" href="@Model.Get_Yahoo_Finance_Link()" target="_blank">Link to Yahoo Finance</a></li>
                    <li class="list-group-item">Exchange: @Model.Company.Exchange</li>
                    <li class="list-group-item">Industry: @Model.Company.Industry</li>
                    <li class="list-group-item">CEO: @Model.Company.CEO</li>
                    <li class="list-group-item">IssueType: @Model.Company.IssueType</li>
                    <li class="list-group-item">Sector: @Model.Company.Sector</li>
                    <li class="list-group-item">@Model.Company.Description</li>
                    <li class="list-group-item">
                        <mark style="background-color:#FFFF00;" class="font-weight-bold">@Html.RouteLink("View " + Model.Company.CompanyName.Split(' ')[0] + "'s News", new { controller = "CompanyNews", symbol = Model.Company.Symbol })</mark>
                    </li>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            @foreach (var item in Model.Peers)
                            {
                <li class="breadcrumb-item"><a href="@item.Url" target="_blank">@item.Name</a></li>
}
                        </ol>
                    </nav>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row" id="chart_today"></div>
<br />
<div class="row" id="chart"></div>

<script>
    google.charts.load('current', { packages: ['corechart', 'line'] });
    google.charts.setOnLoadCallback(function () { draw_Chart('Stock History Price Chart', 'chart', @Html.Raw(@Model.Get_Stock_DateTime_Price((int)Organization_Stock.Stocks))); });
    google.charts.setOnLoadCallback(function () { draw_Chart('Stock Price Chart for Today', 'chart_today', @Html.Raw(@Model.Get_Stock_DateTime_Price((int)Organization_Stock.Stocks_Today))); });
</script>

<div class="container-fluid bg-grey">
    @{ if (Model.News.Data.Count > 0)
        {
            <h3>News</h3>
            <div class="row">
                <div class="list-group list-group-flush">
                    @{
                        foreach (var item in Model.News.Data)
                        {
                            <div class="list-group-item news">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1"><a href="@item.Url" target="_blank">@item.Title</a></h5>
                                    <small>@item.Publication_Date.ToShortDateString() @item.Publication_Date.ToShortTimeString() </small>
                                </div>
                                <p class="mb-1">@item.Summary</p>
                                @*<small>Source: @item.Source</small>*@
                            </div>
                        }
                        <div class="list-group-item news">
                            <mark style="background-color:#FFFF00;" class="font-weight-bold">@Html.RouteLink("...View More News", new { controller = "CompanyNews", symbol = Model.Company.Symbol })</mark>
                            @*<small>Source: @item.Source</small>*@
                        </div>
                    }
                </div>
            </div>
        } 
    }
</div>