@model ProjectAbc.Classes.Stock.Model.Organization;

@{
    ViewData["Title"] = "Get";
    Layout = "~/Views/Layout.cshtml";
}
<script>
    function Ticker_Symbol() {
        var company = $("#tickersymbol").val();
        if (company.length > 0) {
            var getUrl = window.location;
            var baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1] + '/' + company;

            window.location.href = baseUrl;
        }
    }
</script>

<div class="container">
    <div class="row">
        <div class="col-sm-6">

            <form class="form-inline" action="#" onsubmit="Ticker_Symbol(); return false;">
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" class="form-control" id="tickersymbol" placeholder="Enter Ticker Symbol">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Display News</button>
            </form>
        </div>
        <div class="col-sm">
            Powered By: <a href="https://intrinio.com/" target="_blank" class="font-weight-bold">Intrinio</a>
        </div>
    </div>
</div>

<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-1">
            <img src="@Model.Logo.Url" class="img-fluid" />
        </div>
        <div class="col-sm-8">
            <h2 class="text-left"><a href="@Model.Company.Website" target="_blank">@Model.Company.CompanyName</a></h2>
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Ticker Symbol: @Model.Company.Symbol</li>
                    <li class="list-group-item">@Model.Company.Description</li>
                    <li class="list-group-item">
                        <mark style="background-color:#FFFF00;" class="font-weight-bold text-dark">@Html.RouteLink("View " + Model.Company.CompanyName.Split(' ')[0] + "'s Stock Information", new { controller = "Stock", symbol = Model.Company.Symbol })</mark>
                    </li>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            @foreach (var item in Model.Peers)
                            {
                                <li class="breadcrumb-item"><a href="@item.Url" target="_blank">@item.Name</a></li>
                            }
                        </ol>
                    </nav>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-grey">
    <h3>News</h3>
    <div class="row">
        <div class="list-group list-group-flush">
            @{
                foreach (var item in Model.News.Data)
                {
                    <div class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"><a href="@item.Url" target="_blank">@item.Title</a></h5>
                            <small>@item.Publication_Date.ToShortDateString() @item.Publication_Date.ToShortTimeString() </small>
                        </div>
                        <p class="mb-1">@item.Summary</p>
                    </div>
                }                
            }
        </div>
    </div>
</div>