@model ProjectAbc.Classes.News.Publisher

@{
    ViewData["Title"] = "Get";
    Layout = "~/Views/Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <h2>News Publishers</h2>
        </div>
        <div class="col-sm">
            Powered By: <a href="https://newsapi.org/" target="_blank" class="font-weight-bold">News API</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        @foreach (var item in Model.Sources)
        {
            item.Assign_Image_Url();
            var url = "/News/$" + item.Id;

            <div class="card" style="width: 10rem;" title="@item.Description">
                <img class="card-img-top img-fluid" src="@item.ImageUrl" alt="">
                <div class="card-body">
                    <h5 class="card-title"><a href="@item.Url" target="_blank">@item.Name</a></h5>
                    <a href="@url" class="btn btn-primary">List Articles</a>
                </div>
            </div>

        }
    </div>
</div>
